{% extends "base.html" %}
{% load static %}

{% block content %}

  <div id="index-banner">
    <div class="section no-pad-bot">
      <div class="container">
        <form action="" method="POST">
        {% csrf_token %}
        <div class="row center">
          <h5 class="header col s12 light">Give Feedback</h5>
          We try to give our customers the best service possible. If anything didn't work for you please feel free to leave feedback.<br>
          We take all feedback very seriously and someone from our team will be in touch soon.
        <div class="input-field col 25 s12">
          <textarea id="textarea1" name="review" class="materialize-textarea"></textarea>
          <label for="textarea1">Write feedback</label>
        </div>
        </div>
        {% if request.session.current_user %}
        <div class="row center">
          <button class="btn waves-effect waves-light red" style="width: 200px" type="submit">
              Submit
          </button>
        </div>
        {% else %}
        <div class="row center">
          <button disabled class="btn waves-effect waves-ligh red" style="width: 200px" type="submit">
              Submit
          </button>
        </div>
        {% endif %}
        </form>

        <br><br>

      </div>
    </div>
  </div>

  {% if results %}
  <div class="row center">
      <div class="col s12 m12">
        {% for obj in some_list %}
          <div class="card red">
            <div class="card-content white-text">
              <span class="card-title">{{obj.author}} says...</span>
              <p> {{obj.submissionDate}}</p>
              <p>{{obj.review}}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}

  {% endif %}

{% endblock content %}
